:root {

    --green0: hsl(95, 94%, 7%);
    --green1: hsl(90, 86%, 14%);
    --green2: hsl(85, 77%, 28%);
    --green3: hsl(81, 61%, 41%);
    --green4: hsl(78, 57%, 54%);
    --green5: hsl(74, 53%, 66%);
    --green6: hsl(69, 48%, 75%);
    --green7: hsl(65, 42%, 85%);
    --green8: hsl(60, 34%, 93%);
    --green9: hsl(55, 26%, 98%);

    --red0: hsl(4, 94%, 7%);
    --red1: hsl(2, 86%, 14%);
    --red2: hsl(0, 77%, 28%);
    --red3: hsl(353, 61%, 41%);
    --red4: hsl(351, 57%, 54%);
    --red5: hsl(349, 53%, 66%);
    --red6: hsl(347, 48%, 75%);
    --red7: hsl(345, 42%, 85%);
    --red8: hsl(343, 34%, 93%);
    --red9: hsl(341, 20%, 98%);

    --blue0: hsl(239, 94%, 7%);
    --blue1: hsl(234, 86%, 14%);
    --blue2: hsl(229, 77%, 28%);
    --blue3: hsl(224, 61%, 41%);
    --blue4: hsl(219, 57%, 54%);
    --blue5: hsl(214, 53%, 66%);
    --blue6: hsl(209, 48%, 75%);
    --blue7: hsl(204, 42%, 85%);
    --blue8: hsl(199, 34%, 93%);
    --blue9: hsl(194, 26%, 98%);

    --yellow0: hsl(34, 100%, 7%);
    --yellow1: hsl(37, 100%, 14%);
    --yellow2: hsl(39, 95%, 28%);
    --yellow3: hsl(41, 90%, 41%);
    --yellow4: hsl(43, 85%, 54%);
    --yellow5: hsl(45, 80%, 66%);
    --yellow6: hsl(47, 75%, 75%);
    --yellow7: hsl(49, 70%, 85%);
    --yellow8: hsl(50, 65%, 93%);
    --yellow9: hsl(50, 60%, 98%);

    --violet0: hsl(318, 94%, 7%);
    --violet1: hsl(314, 86%, 14%);
    --violet2: hsl(310, 77%, 28%);
    --violet3: hsl(306, 61%, 41%);
    --violet4: hsl(302, 57%, 54%);
    --violet5: hsl(299, 53%, 66%);
    --violet6: hsl(297, 48%, 75%);
    --violet7: hsl(295, 42%, 85%);
    --violet8: hsl(292, 34%, 93%);
    --violet9: hsl(290, 26%, 98%);

    --turquoise0: hsl(152, 94%, 7%);
    --turquoise1: hsl(154, 86%, 14%);
    --turquoise2: hsl(156, 77%, 28%);
    --turquoise3: hsl(158, 61%, 41%);
    --turquoise4: hsl(160, 57%, 54%);
    --turquoise5: hsl(162, 53%, 66%);
    --turquoise6: hsl(164, 48%, 75%);
    --turquoise7: hsl(166, 42%, 85%);
    --turquoise8: hsl(168, 34%, 93%);
    --turquoise9: hsl(170, 20%, 98%);

    --orange0: hsl(3, 94%, 7%);
    --orange1: hsl(6, 86%, 14%);
    --orange2: hsl(9, 77%, 28%);
    --orange3: hsl(12, 61%, 41%);
    --orange4: hsl(15, 57%, 54%);
    --orange5: hsl(18, 53%, 66%);
    --orange6: hsl(21, 48%, 75%);
    --orange7: hsl(24, 42%, 85%);
    --orange8: hsl(27, 34%, 93%);
    --orange9: hsl(30, 20%, 98%);
}